.navbar {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 38rem 10fr;
  background-color: rgb(33, 36, 40);
}
li {
  list-style: none;
  cursor: pointer;
}
.mainList {
  margin-top: 20px;
  height: 1rem;
  display: flex;
  justify-content: space-around;
}
.itemList {
  font-size: 1.15rem;
  color: rgb(156 163 175);
}
.itemList:hover {
  color: red;
}
.image {
  color: rgb(156 163 175);
  margin-top: 20px;
  border-radius: 50%;
}
/* hr {
  border-top: 0 #e5e7eb;
  height: 0px;
  width: 200%;
} */
.demo {
  height: 50rem;
}
.horizontalLine {
  height: 1px;
  width: 100%;
  background-color: white;
}
.navbarParent {
  position: fixed;
  top: 0;
  width: 100%;
}
